.cabecalho {
    display: inline;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 23, 194);
    font-size: 21px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    border-bottom-left-radius: 30%;
    position: relative;
}

.cabecalho-imagem {
    width: 400px;
    height: 250px;
    padding: 1em;
    float: right;

}


.cabecalho__menu {
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}


.botao {
    justify-content: space-between;
}

.conteiner__imagem {
    padding: 1em;
}

.conteiner__botao:checked~.lista__menu {
    display: block;

}

.conteiner__botao {
    display: none;
}



.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--branco);
    width: 45vw;
}

.lista__menu-item {
    padding: 1em;
}

.lista__menu-link {
    color: var(--roxo);
    font-weight: 700;
}

.lista__menu-titulo {
    font-weight: 700;
    color: var(--roxo);

}


.fotos {
    width: 100%; /* Largura da foto */
  height: 100px; /* Altura da foto */
  /* Adicione estilos adicionais para a foto, como margens, bordas, etc. */
}

.fotos_div {
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas com larguras iguais */
  grid-gap: 10px; /* Espaçamento entre as fotos */
}