
.cabecalho 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(241, 23, 194);
    font-size: 21px;
    color: white;
    padding: 24px 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    border-bottom-left-radius: 30%;
}

.cabecalho-imagem 
{

    width: 1000px;
    height: 500px;
}