.fotoxs{
display: flex;
justify-content: space-between;
}

.fotoxs {
    width: 100%;
    /* Largura da foto */
    height: 100px;
    /* Altura da foto */
    /* Adicione estilos adicionais para a foto, como margens, bordas, etc. */
}

.fotos_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Define 2 colunas com larguras iguais */
    grid-gap: 10px;
    /* Espaçamento entre as fotos */
}

.section_fotos{
    display: flex;
    flex-wrap: wrap;
}

.fotos{
    flex-basis: calc(50.33% - 10px); /* Define a largura das fotos com base na porcentagem desejada */
    margin: 5px; /* Espaçamento entre as fotos */
    height: 100px; /* Altura da foto */
    /* Adicione estilos adicionais para a foto, como margens, bordas, etc. */
}